<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <targets>

    <target name="debug" xsi:type="File"
            fileName="${basedir}/debug-log.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}" />
    <target name="error" xsi:type="File"
        fileName="${basedir}/error-log.log"
        layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}" />

  </targets>

  <rules>
    <logger name="*" level="Trace" writeTo="debug" />
    <logger name="*" level="Debug" writeTo="debug" />
    <logger name="*" level="Info" writeTo="debug" />
    <logger name="*" level="Warn" writeTo="debug" />
    <logger name="*" level="Fatal" writeTo="error" />
  </rules>
</nlog>
